---
layout: base
permalink: /about/index.html
---

<div class="section bg-green-100">
  <h1 class="text-3xl">About this site</h1>
</div>

<div class="break"></div>

<div class="section bg-blue-50">
{% markdown %}
{{site.about}}
{% endmarkdown %}
</div>

<div class="break"></div>

<div class="section bg-green-100">
  <h1 class="text-3xl">About me</h1>
</div>

<div class="break"></div>

<div class="section bg-blue-50">
{% markdown %}
{{resume.base.summary}}

- [Resume](/resume/)
{% endmarkdown %}
</div>
