---
layout: base
permalink: /about/index.html
---

<div class="section bg-blue-50">
{% markdown %}
{{site.about}}
{% endmarkdown %}
</div>

<div class="break"></div>

<div class="section bg-green-100">
  <a class="flex items-center hover:opacity-50" href="/resume/">
    <span class="text-3xl text-blue-600 mr-2">Resume</span>
    <img alt="resume link" class="object-contain h-5 w-5" 
      src="/assets/icons/link.svg">
  </a>
</div>