---
layout: base-empty
permalink: /resume/index.html
download_link: /assets/downloads/greg-maxedon-resume.pdf
---

<div class="fixed z-50 bottom-6 right-6 md:bottom-12 md:right-12">
  {% include "download.liquid", href: download_link %}
</div>


<div class="section-border drop-shadow-md mx-auto md:w-[8.55in]">
  {% include "resume/resume.html", data: resume.base %}
</div>
  

