@tailwind base;
@tailwind components;
@tailwind utilities;

/* sections are the building blocks of my site's layout */
.section {
  @apply p-2 rounded-lg drop-shadow-md
}

/* a vertical spacer.  usage: <div class="break"></div> */
.break {
  @apply  h-2 sm:h-4
}

/* this is to make sure text doesn't overflow 
when viewing markdown prose on a small screen. 
specifically had problem with long links */
.prose { 
  @apply break-words
}

/* resume styles */

.resume h2 {
  @apply text-2xl mb-4
}

.resume h3 {
  @apply text-xl mb-2
}

.background {
  @apply bg-slate-400
}

.section-head-foot {
  @apply bg-orange-100
}

.section-title {
  @apply bg-green-100

}.section-content {
  @apply bg-fuchsia-50
}

.section-border {
  @apply border-0 border-slate-300
}

iframe[src*=youtube] {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 10px;
}

/* body {
  @apply font-mono
} */