
<div class="border-2 rounded-lg bg-white bg-opacity-70 hover:bg-emerald-100 hover:bg-opacity-70">
  <a 
    href="{{href}}"
    target="_blank"
  >
    <img 
      class="w-20 h-20 opacity-30 rounded-lg"
      src="/assets/icons/download.svg"
      alt="download" 
    />
  </a>
</div>

