<div class="break"></div>

<div class="section section-border section-head-foot flex justify-between bg-red-100">
  <div class="invisible">
    <span>{{ site.author }}</span>
  </div>
  {% include "social.liquid" %}
</div>