<footer role="contentinfo" class="border-t border-blue-500 border-opacity-50 mx-2 py-4 flex justify-center">
  <div class="flex justify-between w-page">
    <div class="invisible">
      <span>{{ site.author }}</span>
    </div>
    {% include "social.liquid" %}
  </div>
</footer>