<nav role="navigation">
  <ul class="flex">
    {% for item in site.nav %}
      <li class="flex-initial text-2xl ml-4 hover:opacity-50">
        <a href="{{ item.path }}">{{ item.label }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>