<ul>
  {% for post in posts %}
    <li class="mb-8">
      <a href="{{ post.url }}" class="text-blue-950 hover:opacity-50">
        
        <div>
          <span class="text-2xl">{{ post.data.title }}</span>
        </div>

        <div>
          <span>{{ post.data.date_posted | date }}</span>
        </div>

      </a>
    </li>
  {% endfor %}
</ul>
