<ul class="flex">
  <li class="pl-2 hover:opacity-50">
    <a href="https://github.com/mendelbrot">
      <img 
        class="h-[32px]"
        src="/assets/icons/github.svg"
        alt="Github"
      ></img>
    </a>
  </li>
  <li class="pl-2 hover:opacity-50">
    <a href="https://www.linkedin.com/in/gregmaxedon/">
      <img 
        class="h-[32px]"
        src="/assets/icons/linkedin.svg"
        alt="LinkedIn"
      >
      </img>
    </a>
  </li>
  <li class="pl-2 hover:opacity-50">
    <a href="/resume/">
      <img 
        class="h-[32px]"
        src="/assets/icons/resume.svg"
        alt="Resume"
      ></img>
    </a>
  </li>
</ul>