<ul class="flex">
  <li class="pl-2 hover:opacity-50"><a href="https://github.com/mendelbrot">
    <img src="./assets/social-icons/github.svg"></img>
  </a></li>
  <li class="pl-2 hover:opacity-50"><a href="https://www.linkedin.com/in/gregmaxedon/">LinkedIn</a></li>
</ul>