<!DOCTYPE html>
<html lang="en">

{% include "head.liquid" %}

<body class="overflow-y-scroll bg-green-50 min-h-screen">
  {% include "header.liquid" %}

  <main role="main" class="py-4">
    <div class="w-page px-2 mx-auto">{{ content }}</div>
  </main>

  {% include "footer.liquid" %}
</body>

</html>