<!DOCTYPE html>
<html lang="en">

{% include "head.liquid" %}

<body class="
  background
  overflow-y-auto
  min-h-screen flex flex-col 
  p-2 sm:p-4
  ">

  <main class="flex-1">
    <div class="mx-auto">
      {{ content }}
    </div>
  </main>
  
</body>

</html>